.container {
  margin-top: 28px;
  background-color: #6941C6;
  display: none;
}

.container__slider_info{
  text-align: center;
}

.container__slider_info--sign-up{
  padding: 50px 20px 100px 20px;
}

.container__slider_info--sign-in {
  padding: 10px 20px 68px 20px;
}

.slider_info__text {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 18px;
  width: 460px;
}

.logo {
  margin-top: 30px;
  margin-left: 24px;
}

.card_banner {
  background-color: white;
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 18.85px;
  padding: 20px 0px 0px 28px;
  margin-top: 80px;
}

.card_banner__sign_in {
  text-align: center;
  margin-top: 60px;
/*   background-color: #8C8B8B; */
}

.ocultar {
  display: none;
}

.card_banner__title {
  color: #3A3A3A;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
}

.card_banner__subtitle {
  color: #8C8B8B;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.card_banner__price {
  color: #3A3A3A;
  font-weight: 900;
  font-size: 20px;
  line-height: 29px; 
  margin-top: 10px;
}

.card_banner__paragraph {
  color: #8C8B8B;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 28px;
  width: 160px;
}

.card_banner__img {
  margin-top: -20px;
  margin-right: -300px;

}

@media screen and (min-width: 1216px){
  .container:not(.is-max-desktop) {
    max-width: 600px;
    display: block;

  }

}

